<ul class="nav nav-tabs" id="dataset-info" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="columns-tab-{{ id }}" data-bs-toggle="tab" data-bs-target="#columns-{{ id }}" type="button"
            role="tab" aria-controls="columns-{{ id }}" aria-selected="true">Columns</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="plot-tab-{{ id }}" data-bs-toggle="tab" data-bs-target="#plots-{{ id }}" type="button"
            role="tab" aria-controls="plots-{{ id }}" aria-selected="false">Plots</button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="columns-{{ id }}" role="tabpanel" aria-labelledby="columns-tab-{{ id }}">
        {% for column_type in columns_by_type %}
        {% if columns_by_type[column_type] %}
        <h3>{{ column_type }} columns:</h3>
        <table class="columns-{{ id }} table table-bordered">
            <thead>
                <tr>
                    {% for header in columns_by_type[column_type]["headers"] %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for column in columns_by_type[column_type]["metadata"] %}
                <tr>
                    {% for property in column %}
                    <td>{{ property }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
    </div>

    <div class="tab-pane" id="plots-{{ id }}" role="tabpanel" aria-labelledby="plots-tab-{{ id }}">
        <h2>Plots</h2>
    </div>
</div>